<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Edit your Listing</h3>
                <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
                    <div class="mb-3">
                        <label for="title" class="form-label ">Title</label>
                        <input name="listing[title]" value="<%=listing.title%>" placeholder="title" type="text"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label ">Description</label>
                        <textarea name="listing[description]" placeholder="description" type="text"
                            class="form-control"><%=listing.description%></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label ">Image Link</label>
                        <input name="listing[image]" value="<%=listing.image%>" placeholder="image URL/Link" type="text"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label ">Price</label>
                            <input name="listing[price]" value="<%=listing.price%>" placeholder="price" type="number"
                                class="form-control">
                        </div>
                        <div class="mb-3 col-md-8" >
                            <label for="country" class="form-label ">Country</label>
                            <input name="listing[country]" value="<%= listing.country %>" placeholder="country" type="text" class="form-control">
                        </div>
                    </div>    
                        <div class="mb-3">
                            <label for="location" class="form-label ">location</label>
                            <input name="listing[location]" value="<%=listing.location%>" placeholder="location"
                                type="text" class="form-control">
                        </div>
                        <button class="btn edit-btn btn-dark mt-3">Edit </button>
                        <br><br>
                </form>
            </div>
        </div>
    </body>