<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Edit your Listing</h3>
                <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label ">Title</label>
                        <input name="listing[title]" value="<%=listing.title%>" placeholder="title" type="text"
                            class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label ">Description</label>
                        <textarea name="listing[description]" placeholder="description" type="text" class="form-control"
                            required><%=listing.description%></textarea>
                        <div class="invalid-feedback">please enter short description</div>
                    </div>
                    <div class="box card">

                        <div class="mb-3">
                           Original Listing Image<br>
                            <img src="<%= originalImageUrl %>" class="col-8 offset-2  card">
                            
                        </div>
                        <div class="mb-3 ms-2 me-2" >
                            <label for="image" class="form-label "><b>Upload New Image</b> </label>
                            <input style="border: 1px solid black;" name="listing[image]" placeholder="image URL/Link" type="file" class="form-control">
                            
                        </div>
                    </div>
                        <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label ">Price</label>
                            <input name="listing[price]" value="<%=listing.price%>" placeholder="price" type="number"
                                class="form-control" required>
                            <div class="invalid-feedback">please enter valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label ">Country</label>
                            <input name="listing[country]" value="<%= listing.country %>" placeholder="country"
                                type="text" class="form-control" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label ">location</label>
                        <input name="listing[location]" value="<%=listing.location%>" placeholder="location" type="text"
                            class="form-control" required>
                        <div class="invalid-feedback">location should be valid</div>
                    </div>
                    <button class="btn edit-btn add-btn mt-3">Edit </button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>