<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb</title>
</head>
<body>
    <h3>Edit your Listing</h3><br>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
            <input name="listing[title]" value="<%=listing.title%>"  placeholder="title" type="text"><br><br>
            <textarea name="listing[description]"  placeholder="description" type="text"><%=listing.description%></textarea><br><br>
            <input name="listing[image]"  value="<%=listing.image%>" placeholder="image URL/Link" type="text"><br><br>
            <input name="listing[price]" value="<%=listing.price%>" placeholder="price" type="number"><br><br>
            <input name="listing[location]" value="<%=listing.location%>"  placeholder="location" type="text"><br><br>
            <input name="listing[country]" value="<%=listing.country%>"  placeholder="country" type="text"><br><br>
            <button>Edit Listing</button>
    </form>
</body>
</html>