<body>
<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-3">
    <h3>Listing details: </h3>
    </div>
    <div class="card offset-3 col-6 show-card">
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text"><b><%=listing.title%></b><br>
                <%=listing.description%><br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%><br>
                <%=listing.location%><br>
                <%=listing.country%><br>
            </p>
          </div>
    </div>
    
    <br>
    <div class="btns">

        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 add-btn">Edit</a>
        <br>
        <br>
        <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete </button>
        </form>
    </div>
</div>
</body>
