<% layout("/layouts/boilerplate")%>
<body>
    <h3>Listing details: </h3>
    <ul>
        <li><b>title:</b><%=listing.title%></li>
        <li><b>description:</b><%=listing.description%></li>
        
        <li><b>price:</b>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        <li><b>location:</b><%=listing.location%></li>
        <li><b>country:</b><%=listing.country%></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <br>
    <br>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete Listing</button>
</form>
</body>
